        <div class="container">
            <div id="{{ dog["basic"]["id"] }}" class="columns dog_information_row {{ dog["basic"]["gender"] }}">

                <div class="column col-2 ">
                    <div class="dog_basic1"><a href="{{ url_for('view_dog', id=dog["basic"]["id"]) }}" style="color: #0e0e08" > {{ dog["basic"]["registered_name"] }} </a> <span class="inline_scores">{{ dog["basic"]["health_score"] }}</span></div>
                    <div class="dog_basic2">{{ dog["basic"]["generation"] }} {{ dog["basic"]["gender"] }}    {{ truncated_attrs_dict[dog["basic"]["breed"]] }}</div>
                </div>
                <div class="column col-10 dog_health_or_confo">
                    {% with dog_health=dog["health"] %}
                        {% include "_dog_health_line.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
