<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="spectre.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="spectre-exp.min..css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="spectre-icons.css") }}>
        {% if title %}
        <title>{{ title }} - Dog Breeder Game Aid</title>
        {% else %}
        <title>Dog Breeder Game Aid</title>
        {% endif %}
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section">
                <a class="navbar-brand mr-2" href="{{ url_for('index') }}">Home</a>
                <a class="btn btn-link" href="{{ url_for("add_dog") }}">Add Dog</a>
            </section>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container">
            <div class="columns">
                <div class="column col-1"></div>
                <div class="column col-10">
                    {% block content %}{% endblock %}
                </div>
                <div class="column col-1"></div>
            </div>
        </div>
    </body>
</html>