<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="spectre.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="spectre-icons.css") }}>

        {% if title %}
        <title>{{ title }} - Dog Breeder Game Aid</title>
        {% else %}
        <title>Dog Breeder Game Aid</title>
        {% endif %}
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section">
                <a class="nav_item" href="{{ url_for('index') }}">Home</a>
                <a class="nav_item" href="{{ url_for("add_dog") }}">Add Dog</a>
            </section>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <div class="columns">
                <div class="column col-1"></div>
                <div class="column col-10">
                    {% block content %}{% endblock %}
                </div>
                <div class="column col-1"></div>
            </div>
        </div>
        <script>
            const divs = document.querySelectorAll('.dog_information_row');

            divs.forEach((div) => {
                div.addEventListener('click', (event) => {
                    const partner_1_id = "1_partners_" + div.id;
                    const partner_2_id = "2_partners_" + div.id;
                    partner_1 = document.getElementById(partner_1_id)
                    partner_2 = document.getElementById(partner_2_id)

                    if (div.classList.contains("M_highlight")) {
                        div.classList.remove("M_highlight")
                        partner_1.style.visibility = "hidden"
                        partner_2.style.visibility = "hidden"
                        partner_1.style.display = "none"
                        partner_2.style.display = "none"
                    }
                    else if (!(div.classList.contains("M_highlight")) && (div.classList.contains("M"))) {
                        div.classList.add("M_highlight")
                        partner_1.style.visibility = "visible"
                        partner_2.style.visibility = "visible"
                        partner_1.style.display = "inline-block"
                        partner_2.style.display = "inline-block"
                    }
                    if (div.classList.contains("F_highlight")) {
                        div.classList.remove("F_highlight")
                        partner_1.style.visibility = "hidden"
                        partner_2.style.visibility = "hidden"
                        partner_1.style.display = "none"
                        partner_2.style.display = "none"
                    }
                    else if (!(div.classList.contains("F_highlight")) && (div.classList.contains("F"))) {
                        div.classList.add("F_highlight")
                        partner_1.style.visibility = "visible"
                        partner_2.style.visibility = "visible"
                        partner_1.style.display = "inline-block"
                        partner_2.style.display = "inline-block"
                    }

                });
            });
        </script>
    </body>
</html>