{% extends "base.html" %}

{#has to be the same block name as in base#}
{#Data passed from route#}
{% block content %}
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.generation.label }}
            {{ form.generation(size=32) }}
            {{ form.breed.label }}
            {{ form.breed() }}
            {{ form.submit() }}
        </form>
    </div>
    {% for dog in dogs.values() %}

        <div class="container">
            <div id="{{ dog["basic"]["id"] }}" class="columns dog_information_row {{ dog["basic"]["gender"] }}">

                <div class="column col-2 ">
                    <div class="dog_basic1"><a href="{{ url_for('view_dog', id=dog["basic"]["id"]) }}" style="color: #0e0e08" > {{ dog["basic"]["registered_name"] }} </a> <span class="inline_scores">{{ dog["basic"]["health_score"] }}</span></div>
                    <div class="dog_basic2">{{ dog["basic"]["generation"] }} {{ dog["basic"]["gender"] }}    {{ truncated_attrs_dict[dog["basic"]["breed"]] }}</div>
                </div>
                <div class="column col-10 dog_health_or_confo">
                    {% with dog_health=dog["health"] %}
                        {% include "_dog_health_line.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}