{% extends "base.html" %}

{#has to be the same block name as in base#}
{#Data passed from route#}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column col-12 view_dog_basic">
                <div class="container">
                    <div class="columns">
                        <div class="column col-4">
                            <div> <span class="vd_heading1">{{ dog_basic["registered_name"] }}</span><span class="vd_heading2">{{ dog_basic["id"] }}</span></div>
                            <div> <span class="vd_heading2">{{ dog_basic["generation"] }} {{ dog_basic["gender"] }}</span><span class="vd_heading3"> {{ dog_basic["breed"] }}</span></div>
                        </div>
                        <div class="column col-8">
                            <div class="edit_dog_button"> <a style="color: #0e0e08" href="{{ url_for('edit_dog', id=dog_basic["id"]) }}">Edit Dog</a></div>
                            <div class="kill_dog_button"> <a style="color: #0e0e08" href="{{ url_for('kill_dog', id=dog_basic["id"]) }}">Dead Dog</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="column col-6">
                <div>{% include "_view_dog_dog_health.html" %}</div>
            </div>
            <div class="column col-6">
                <div>{% include "_view_dog_descendant_health.html" %}</div>
            </div>
            <div class="column col-12 view_dog_basic">
                <div class="heading2">Ancestor Information</div>
                <div>{% include "_view_dog_ancestor_information.html" %}</div>
            </div>
        </div>
    </div>

{% endblock %}